@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-bg {
  background-color: black;
  color: white;
}

/* Shared Style Start */
.banner,
.habit,
.extra-mile,
.bmi-calculator,
.packages,
.team,
.footer-content {
  width: 80%;
  margin: 0 auto;
}
.primary-color {
  color: #e6533c;
}

.text-center {
  text-align: center;
}
.btn {
  padding: 16px 40px;
  border-radius: 42px;
  border: none;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  pointer: cursor;
}
.btn-primary {
  background-color: #e6533c;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: white;
}
p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
}
/* Shared Style End */

/* Header Start */

header {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* background: linear-gradient(
    180deg,
    rgb(17, 17, 17) 0%,
    rgba(119, 119, 119, 0) 100%
  ); */
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17) 100%,
    rgba(119, 119, 119, 0) 24%
  );
  /* padding-bottom: 20px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
.logo {
  font-size: 2.25rem;
  font-weight: 800;
}

.navbar {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 2px;
  border-radius: 39px;
}

.navbar a {
  text-decoration: none;
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  border-radius: 46px;
}

.navbar a:hover {
  background-color: #e6533c;
}

.mbl-hamburger {
  display: none;
}

/* Banner Start */
.banner {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 38px auto 0;
}

.banner-content {
  width: 36%;
}
.banner-content button:first-of-type {
  margin-right: 4px;
}
.banner-title {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 59px;
}

.banner-title span {
  font-family: "Oleo Script", system-ui;
  font-weight: 300;
}
.banner-description {
  margin: 28px 0;
}

.image-container {
  position: relative;
}

.capsule {
  width: 206px;
  height: 96px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 23px;
}

.red-circle {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-circle img {
  width: 80%;
}

.capsule-1 {
  position: absolute;
  bottom: 68px;
  right: 420px;
  display: flex;
}

.capsule-2 {
  position: absolute;
  bottom: 370px;
  right: 87px;
  display: flex;
}

.capsule-text p:first-child {
  font-size: 24px;
  color: white;
  font-weight: 900;
  line-height: 24px;
}

.capsule-text p:last-child {
  margin-top: 8px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

/* Banner End */
/* Header End */

/* Main Section Style Start */
main {
}

.habit {
  padding: 100px 0;
}

section .title {
  font-size: 48px;
  font-weight: 900;
}
section .description {
  margin: 14px 0;
}

.workout {
  display: flex;
  margin-top: 40px;
}

.exercise img {
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
}

.ex-title {
  margin-bottom: 6px;
}

/* Extra Mile Start */
.extra-mile {
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 30px 32px 29px 54px;
}

.extra-mile-content {
  width: 40%;
}

.extra-mile-content button {
  margin-top: 20px;
}

.extra-mile-img {
  width: 30%;
}
.extra-mile-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* Extra Mile End */

/* BMI Start */

/* BMI End */

.bmi-calculator {
  padding-top: 78px;
}

.bmi-calculator .description {
  padding-bottom: 88px;
}

.bmi-calculator-chart {
  background: rgb(34, 34, 34);
  width: 100%;
}

.bmi-chart-container {
  width: 80%;
  margin: 0 auto;
  padding: 52px 0;
  display: flex;
  justify-content: space-between;
}

.bmi-chart,
.calculate {
  width: 45%;
}

.bmi-chart-title {
  margin-bottom: 52px;
}

.bmi-title {
  font-size: 28px;
}

th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: 500;
}
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  text-align: left;
}

td {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.calculate .description {
  margin-bottom: 34px;
}

input,
select {
  border-radius: 8px;
  padding: 12px 40px 12px 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 12px;
  margin-bottom: 12px;
  border: none;
}

input::placeholder,
select {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

select:first-of-type {
  width: 45%;
}

select:last-child {
  width: 93%;
}
.calculate button {
  margin-top: 34px;
}

/* Packages Start */
.packages {
  padding-top: 88px;
}

.package-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.package {
  width: 30%;
  margin-top: 44px;
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 18px;
  font-weight: 900;
}

.premier {
  background: #e6533c;
}

.package li {
  list-style: none;
  margin-bottom: 10px;
}
/* Packages End */

/* team style start */
.team {
  padding: 88px 0;
}

.team-img-container {
  margin-top: 44px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.team-member {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}

.team-member img {
  width: 100%;
  max-width: 390px;
  max-height: 272px;
  height: 100%;
  border-radius: 18px;
}

.team-member p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 0;
  width: 100%;
}
.team-member h3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  color: white;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-weight: 800;
}

/* team style end */

/* Footer style strat */
footer {
  background: rgb(34, 34, 34);
  color: white;
  padding-top: 66px;
}
footer .logo {
  font-style: italic;
}
.footer-content {
  display: grid;
  grid-template-columns: 40% 15% 15%;
  justify-content: space-between;
}

.fitness-footer-banner h1 {
  margin-bottom: 20px;
}
hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 79px auto 39px;

  width: 80%;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services h3 {
  font-size: 32px;
}

.services a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
}

.footer {
  padding-bottom: 35px;
}
/* Main Section Style End */
/* Mobile View */

@media screen and (max-width: 576px) {
  /* Shared styles */

  .banner,
  .habit,
  .extra-mile,
  .bmi-calculator,
  .bmi-chart-container,
  .packages,
  .team,
  .footer-content {
    width: 90%;
  }
  /* Navbar Start */
  nav {
    width: 85%;
  }
  .logo {
    margin-left: -14px;
  }
  .navbar {
    display: none;
  }
  .mbl-hamburger {
    display: block;
    margin-right: 12px;
  }
  /* Navbar End */
  /* Banner Start */
  .banner {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .banner-content {
    width: 100%;
  }

  .banner-title,
  .banner-description {
    width: 65%;
  }
  .banner-content button:first-of-type {
    margin-right: 4px;
  }
  .banner-title {
    font-size: 36px;
    line-height: 120%;
    margin-top: 51px;
  }

  .banner-title span {
    font-family: "Oleo Script", system-ui;
    font-weight: 300;
  }
  .banner-description {
    margin: 28px 0;
  }

  .banner-btn-container {
    display: flex;
    margin-bottom: 64px;
  }

  .btn {
    padding: 16px 30px;
  }

  .img-container {
    position: relative;
  }

  .capsule {
    width: 170px;
    height: 94px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 12px 18px;
  }

  .red-circle {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .red-circle img {
    width: 80%;
  }

  .capsule-1 {
    position: absolute;
    top: 245px;
    left: 6px;
    display: flex;
  }

  .capsule-2 {
    position: absolute;
    top: 47px;
    right: 7px;
    display: flex;
  }

  .capsule-text p:first-child {
    font-size: 24px;
    color: white;
    font-weight: 900;
    line-height: 24px;
  }

  .capsule-text p:last-child {
    margin-top: 3px;
    font-size: 14px;
  }

  /* Banner End */

  /* habit */
  .habit {
    padding-top: 10px;
    padding-bottom: 66px;
  }
  section .title {
    font-size: 32px;
    text-align: left;
  }
  section .description {
    margin: 14px 0;
    text-align: left;
  }

  .workout {
    flex-direction: column;
    margin-top: 40px;
  }
  .exercise {
    margin-bottom: 36px;
  }

  /* Extra Mile Start */
  .extra-mile {
    flex-direction: column;
  }

  .extra-mile-content {
    width: 100%;
  }

  .extra-mile-content button {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 31px;
  }

  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }
  /* Extra Mile End */

  /* BMI calculator */

  .bmi-calculator {
    padding-top: 21px;
  }

  .bmi-calculator .description {
    padding-bottom: 29px;
  }

  .bmi-chart-container {
    margin: 0 auto;
    padding: 34px 0;
    flex-direction: column;
  }

  .bmi-chart,
  .calculate {
    width: 100%;
  }

  .bmi-chart {
    margin-bottom: 42px;
  }

  .bmi-chart-title {
    margin-bottom: 23px;
  }

  input,
  select:first-of-type {
    width: 46%;
  }

  input::placeholder,
  select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  select:last-child {
    width: 97%;
  }

  /* Packages Start */
  .packages {
    padding-top: 88px;
  }

  .package-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
  }

  .package {
    width: 100%;
    margin-top: 44px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 18px;
    font-weight: 900;
  }

  /* Packages End */

  /* team style start */
  .team {
    padding: 66px 0;
  }

  .team .title,
  .team .description {
    text-align: center;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  /* Footer style strat */
  footer {
    padding-top: 44px;
  }

  footer .logo {
    margin-left: 5px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fitness-footer-banner h1,
  .fitness-footer-banner p {
    margin-bottom: 20px;
  }
  hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 52px auto 39px;
    width: 90%;
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .services h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .services a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
  }

  .footer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 35px;
    text-align: left;
  }
}
